h3 {color: crimson;background-color: blueviolet;}
#t3 {color: darkred;background-color: aquamarine;}
.mipárrafo {color: pink;font-size: 34px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight:bold;}
#t1 {color: brown;}
#l1 {color: orange;}
#l2 {color: black;background-color: blue;}
#l3 {font-weight: bold;}