#p2 {text-decoration: underline;}
.texto_color_azul {color: blue;}
p {font-size: larger;}
p {font-family: Arial, Helvetica, sans-serif;}
h1 {font-family: Arial, Helvetica, sans-serif;font-weight: lighter;}