body {
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}

footer {
    background-color: rgb(22, 22, 180);
    color: aliceblue;   
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-weight: normal;
    font-size: 12px;
    text-transform: capitalize;
}

header {
    background-color: aquamarine;
    padding: 40px 0px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
}

.card-- {
    display: inline-block;
    width: 20%;
    margin: 10px;
    background-color: rgb(200, 226, 226);
    padding: 10px;
    border-radius: 10px;
    border: lightblue solid 2px;
    box-shadow: -webkit-box-shadow: -26px -20px 19px -4px rgba(0,0,0,0.41);
    -moz-box-shadow: -26px -20px 19px -4px rgba(0,0,0,0.41);
    box-shadow: -26px -20px 19px -4px rgba(0,0,0,0.41);;
}

img {
    width: 100%;
    border-radius: 10px;
}

main {
    text-align: center;
}